@model Intranet.Model.ViewModel.Document.DocumentFilterViewModel

<table class="table table-striped table-bordered table-condensed table-hover" id="grid">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Default.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Default.Department)</th>
        <th>@Html.DisplayNameFor(model => model.Default.JobTitle)</th>
        <th>@Html.DisplayNameFor(model => model.Default.CreateDate)</th>
        <th class="col-action">@ApplicationResources.Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PagedList)
    {
        var css = item.IsDeleted ? "danger" : (item.IsApproved ? "success" : string.Empty);
        <tr data-id="@item.Id" class="@css">
            <td>@item.Id</td>
            <td>@item.Department</td>
            <td>@item.JobTitle</td>
            <td>@item.CreateDate</td>
            <td>@{ await Html.RenderPartialAsync("_RowActionToolbar", new RowActionViewModel(item.Id) { ShowDetail = false }); }</td>
        </tr>
    }
    </tbody>
</table>
<div class="panel-footer">
    @{ await Html.RenderPartialAsync("_PagedList", Model.PagedList); }
</div>